aiodns==3.6.1
aiohttp==3.13.3
bottleneck==1.4.2
brotlicffi==1.2.0.0
conda-env-export==0.6.2
einops==0.8.2
imageio==2.37.2
importlib-metadata==8.7.1
jaraco-context==6.1.0
jaraco-functools==4.4.0
jaraco.text==4.0.0
minigrid==3.0.0
numexpr==2.14.1
peft==0.7.1
pip==26.0.1
platformdirs==4.4.0
pysocks==1.7.1
ruamel-yaml-clib==0.2.15
seaborn==0.13.2
tomli==2.4.0
torchvision==0.25.0
typer-slim==0.24.0
uvloop==0.22.1
wheel==0.46.3